{% extends 'base.html' %}

{% block title %}ShowBOX{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/exhome.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/reset_modal.css') }}">
{% endblock %}

{% block body %}
<header class="hero">
  <div class="overlay"></div>
  <nav class="navbar">
    <div class="logo">ShowBOX</div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/all-movies">Movies</a></li>
      {% if 'user' in session %}
      <li><a href="/my-bookings">My Bookings</a></li>
      <li><a href="/logout">Logout</a></li>
      {% else %}
      <li><a href="#" onclick="openLoginModal()">Login</a></li>
      <li><a href="#" onclick="openSignupModal()">Sign Up</a></li>
      {% endif %}
    </ul>
  </nav>
  <div class="hero-content">
    <h1>Trapped in the Grid</h1>
    <p>Not Everything Is What It Seems</p>
    <a class="btn" href="/movies/">Book Now</a>
  </div>
</header>

<section>
  <h2>Now Showing</h2>
  <div class="divider"></div>
  <div class="filter-bar">
    <div class="filter-options">
      <div class="dropdown">
        <button class="dropbtn" id="formatDropdownBtn">All formats <i class="bi bi-caret-down-fill"></i></button>
        <div class="dropdown-content" id="formatDropdownContent">
          <a href="#">2D</a>
          <a href="#">3D</a>
          <a href="#">IMAX</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">By Category <i class="bi bi-caret-down-fill"></i></button>
        <div class="dropdown-content">
          <a href="{{ url_for('movies', genre='') }}">All</a>
          {% for genre in genres %}
          <a href="{{ url_for('movies', genre=genre['name']) }}">{{ genre['name'] }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Select City <i class="bi bi-caret-down-fill"></i></button>
        <div class="dropdown-content">
          {% for city in cities %}
          <a href="{{ url_for('movies', city_id=city['id']) }}">{{ city['name'] }}</a>
          {% endfor %}
        </div>
      </div>
      <button class="coming-soon-btn">Coming Soon</button>
    </div>
    <div class="search">
      <form action="{{ url_for('movies') }}" method="get">
        <input type="text" name="q" placeholder="Search movies..." value="{{ request.args.get('q', '') }}">
        <i class="bi bi-search"></i>
      </form>
    </div>
  </div>
  <div class="movie-slider-wrapper">
    <div class="movie-slider" id="movieSlider">
      {% for movie in movies[:10] %}
      <a href="{{ url_for('movie_detail', movie_id=movie['id']) }}">
        <div class="movie-card">
          <img loading="lazy" src="{{ url_for('static', filename='images/' ~ movie['poster_url']) }}" alt="{{ movie['title'] }}">
          <div class="movie-info">
            <strong>{{ movie['title'] }}</strong><br>
            <div class="genre">{{ movie['genre'] }}</div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    <div class="show-more-container">
      <a href="{{ url_for('all_movies') }}" class="show-more-link">Explore More...</a>
    </div>
  </div>
</section>

<section class="coming-soon">
  <h2>Coming Soon</h2>
  <div class="divider"></div>
  <div class="movie-coming-list">
    <div class="movie-card">
      <img src="{{ url_for('static', filename='images/Raw.png') }}" alt="Movie Title">
      <div class="movie-info">
        <h3>Raw</h3>
        <p>Horror | 90 min</p>
      </div>
    </div>
    <div class="movie-card">
      <img src="{{ url_for('static', filename='images/Oldboy.png') }}" alt="Movie Title">
      <div class="movie-info">
        <h3>Oldboy</h3>
        <p>Thriller | 101 min</p>
      </div>
    </div>
    <div class="movie-card">
      <img src="{{ url_for('static', filename='images/prisoners.png') }}" alt="Movie Title">
      <div class="movie-info">
        <h3>Prisioners</h3>
        <p>Thriller | 153 min</p>
      </div>
    </div>
    <div class="movie-card">
      <img src="{{ url_for('static', filename='images/la_haine.webp') }}" alt="Movie Title">
      <div class="movie-info">
        <h3>La Haine</h3>
        <p>Crime | 98 min</p>
      </div>
    </div>
    <div class="movie-card">
      <img src="{{ url_for('static', filename='images/Nobody.jpg') }}" alt="Movie Title">
      <div class="movie-info">
        <h3>Nobody</h3>
        <p>Action | 92 min</p>
      </div>
    </div>
    <div class="movie-card">
      <img src="{{ url_for('static', filename='images/Drive.jpeg') }}" alt="Movie Title">
      <div class="movie-info">
        <h3>Drive</h3>
        <p>Thriller | 100 min</p>
      </div>
    </div>
    <div class="movie-card">
      <img src="{{ url_for('static', filename='images/requiem.png') }}" alt="Movie Title">
      <div class="movie-info">
        <h3>Requiem for a Dream</h3>
        <p>Drama | 102 min</p>
      </div>
    </div>
  </div>
</section>


<footer>
  <div class="footer-content">
    <p> &copy; ShowBOX Cinema. All rights reserved.</p>
    <div class="socials">
      <a href="#"><img src="{{ url_for('static', filename='icons/fb.png') }}" /></a>
      <a href="https://instagram.com/kawaljeet_75"><img src="{{ url_for('static', filename='icons/insta.png') }}" /></a>
    </div>
  </div>
</footer>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/exhome.js') }}" defer></script>
{% endblock %}
