body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.movie-grid {
    text-decoration: none;
    color: inherit;
    display: block; /* Make the entire card area clickable */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.movie-card {
    background-color: #1c1c1c;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.movie-info {
    padding: 10px;
}

.genre {
    font-size: 14px;
    color: #aaa;
}

a {
    text-decoration: none;
    color: inherit;
}
